<h1>All Your Trails</h1>

<ul>
	<% @trails.each do |trail| %>
		<li class="draggable" id="trail-group-<%= trail.id %>"><a href="trails/<%= trail.id %>"><%= trail.query %></a></li>
	<% end %>
</ul>


<script> 

	$(document).ready(function () {
		
		<% @trails.each do |trail| %>
			$("#trail-group-<%= trail.id %>").draggable({
				containment: "window",
				cursor: "move",
				snap: ".draggable",
				stack: $(".draggable"),
				stop: function (event, ui) {
					
				}
			});

			$("#trail-group-<%= trail.id %>").droppable({
				drop: function (event, ui) {
					var draggedTrailId = ui.draggable.attr("id").split("-")[2];
					console.log(draggedTrailId);
					console.log(<%= trail.id %>)
					var xhr = new XMLHttpRequest();
          xhr.open("POST", "http://localhost:3000/trails/merge_action?dragged=" + draggedTrailId + "&droppedOn=" + <%= trail.id %>, true)
          xhr.send();
				}
			});
 		<% end %>

	});

</script> 