<div class="trail-snacks group">
	<% if @trail && @trail.snacks %> 
		<h2><%= @trail.query %></h2>
		<ul>
		<% @trail.snacks.each do |snack| %>

			<% if snack.content_type == "image" %>
				<li><a href="<%= snack.traceback_url %>" target="blank"><img class="snack-image" src="<%= snack.source_url %>"></a></li>
			<% elsif snack.content_type == "text" %>
				<li>
					<a href="<%= snack.traceback_url %>" target="blank"><%= snack.traceback_url %></a>
					<br>
					<p><%= snack.selected_text %></p>
				</li>
			<% end %>
			<br>
		<% end %>	
		</ul>
	<% else %>
		<h2>Whoaa there, looks like you've lost your trail.</h2>
	<% end %>

	
</div>